
html{width:100%;height:100%;}
body{margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;cursor:default;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif,宋体;font-size:12px;}
ul{list-style:none;padding:0;margin:0;}
a{text-decoration:none;}

::-webkit-scrollbar{ width:10px; height:10px; }
::-webkit-scrollbar-button{ width:0; height:0; }
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{ display:block; }
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement { display:none; }
::-webkit-scrollbar-corner{ display:block; }
::-webkit-scrollbar-thumb{
	background-clip:padding-box;
	background-color:rgba(0,0,0,.2);
	border-radius:8px;
}
::-webkit-scrollbar-thumb:hover{

	background-clip:padding-box;
	background-color:rgba(0,0,0,.5);
	border-radius:8px;
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-thumb:vertical{

	border-left:1px solid transparent;
	border-right:1px solid transparent;
}
::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:horizontal{

         border-top:1px solid transparent;
         border-bottom:1px solid transparent;
}
::-webkit-scrollbar-track:hover{

         background-clip:padding-box;
         background-color:rgba(0,0,0,.15);
}
::-webkit-scrollbar-button:vertical:start{width:10px;height:10px;background:url(../img/scrollbar_arrow.png) no-repeat 0 0}
::-webkit-scrollbar-button:vertical:start:hover{background:url(../img/scrollbar_arrow.png) no-repeat -15px 0}
::-webkit-scrollbar-button:vertical:start:active{background:url(../img/scrollbar_arrow.png) no-repeat -30px 0}
::-webkit-scrollbar-button:vertical:end{width:10px;height:10px;background:url(../img/scrollbar_arrow.png) no-repeat 0 -18px}
::-webkit-scrollbar-button:vertical:end:hover{background:url(../img/scrollbar_arrow.png) no-repeat -15px -18px}
::-webkit-scrollbar-button:vertical:end:active{background:url(../img/scrollbar_arrow.png) no-repeat -30px -18px}


/***/

.commonBox{
	position:absolute;
	z-index:10;
	background:white;
	border:1px solid #ff887e;
	box-shadow:0 0 3px #555;
	width:400px;
	height:auto;
	left:175px;
	top:100px;
	display:none;
}
.commonBox .head{
	height:35px;
	background-color:#fed8d5;
}
.commonBox .head .close{
	display:inline-block;
	color:#db2e45;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	float:right;
}
.commonBox .head span{
	display:inline-block;
	float:left;
	color:#db2e45;
	font-size:14px;
	margin:8px 0 0 10px;
}
.commonBox input[type="text"]{
	width:250px;
	height:30px;
	border:1px solid #dddddd;
	box-shadow:inset 0 1px #ddd;
	text-indent:5px;
}
.commonBox label{
	display:inline-block;
	width:80px;
	text-align:right;
	margin-right:5px;
}
.commonBox .confirm-btn{
	width:80px;
	height:30px;
	margin:20px 0 10px 90px;
	font-size: 14px;
	background-color: #4bc078;
	border:1px solid #249a51;
	color:white;
}
.commonBox select{
	font-size: 12px;
	width: auto;
	height: 25px;
	border-color:#aaa;
	outline: none;
	min-width:100px;
}
.commonBox .confirm-btn:hover{
	opacity:0.85;
}
.commonBox .confirm-btn:active{
	opacity:0.7;
}



.addForm .ctn li{
	margin:10px 0 0 5px;
}


.npm-container h3{
	padding-left:10px;
}
.npm-container .ctn{
	padding-bottom:10px;
	max-height:200px;
	overflow:auto;
}
.npm-container .ctn li{
	margin:15px 0 0 10px;
}
.npm-container .add_npm{
	margin:10px 0 10px 10px;
}
.npm-container .add_npm input[type='text']{
	width:130px;
}
.npm-container .confirm-btn{
	margin:0;
}

.npm-log{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	position:absolute;
	z-index:1000;
	left:0;
	top:0;
	overflow:hidden;
	display:none;
}
.npm-log .log-list{
	
	width:80%;
	height:80%;
	background-color:white;
	margin:20px auto;
	overflow:auto;
}
.npm-log span{
	color:black;
	display:block;
	margin:10px 0 0 10px;
	font-size:14px;
}
.npm-log .close{
	margin:0px 68px 0 0;
	float:right;
	width:80px;
	height:30px;
	font-size: 14px;
	background-color: #4bc078;
	border:1px solid #249a51;
	color:white;
}


/**alert*/
.msg-box{
	display:none;
	position:absolute;
	z-index:1000;
	width:300px;
	height:auto;
	min-height:80px;
	left:225px;
	top:150px;
	background:white;
	border:1px solid #ff887e;
	box-shadow:0 0 3px #555;
}
.msg-bg{
	display:none;
	position:absolute;
	z-index:999;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.8);
}
.msg-box .head{
	height:35px;
	background-color:red;
}
.msg-box .head .close{
	display:inline-block;
	color:white;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	float:right;
}
.msg-box .head span{
	display:inline-block;
	float:left;
	color:white;
	font-size:14px;
	margin:8px 0 0 10px;
}
.msg-box .ctn{
	display:inline-block;
	float:left;
	padding-left:10px;
	padding-top:10px;
}
.msg-box .btn{
	display:inline-block;
	float:right;
	padding-left:10px;
	padding-top:10px;
	margin-top:10px;
}
.msg-box .btn button{
	width:55px;
	height:25px;
	margin:10px 10px 10px 10px;
	font-size: 12px;
	background-color: #4bc078;
	border:1px solid #249a51;
	color:white;
	cursor:pointer;
}
.msg-box .btn button.cancel{
	background-color:red;
}

/**--*/

/***/

.compress{
	left:25px;
	top:35px;
	width:700px;
	height:500px;
}
.compress .left-source,.compress .right-compress{
	float:left;
	width:300px;
	height:400px;
	margin:10px 0 0 10px;
}
.compress .left-source h4,.compress .right-compress h4{
	margin:0;
	padding:0;
}
.compress .left-source textarea,.compress .right-compress textarea{
	width:298px;
	height:366px;
	border:1px solid #aaa;
	overflow:auto;
	margin-top:10px;
	word-break: break-all;
}
.compress .aron{
	float:left;
	width:50px;
	text-align:center;
	margin:170px 0 0 10px;
	font-size:24px;
}
.compress .btn-list{
	float:left;
	margin:10px 0 0 80px;
}
.compress .btn-list select{
	font-size: 12px;
	width: auto;
	height: 25px;
	border-color:#aaa;
	outline: none;
	min-width:100px;
}
.compress .confirm-btn{
	margin:0;
}

/**end--*/

/**datauri*/

.datauri{
	left:125px;
	top:200px;
	width:500px;
	height:170px;
}
.datauri .files{
	float:left;
	margin:10px 0 0 10px;
}
.datauri .files input[type='text']{
	width:390px;
}
.datauri .files label{
	width:85px;
}
.datauri .confirm-btn{
	margin:0
}

/***/
.sprite{
	left:125px;
	top:80px;
	width:500px;
	height:425px;
}
.sprite .files{
	float:left;
	margin:10px 0 0 10px;
}
.sprite .files input[type='text']{
	width:350px;
}
.sprite .files label{
	width:110px;
}
.sprite .confirm-btn{
	margin:0 0 0 20px;
}
/***/

.container{
	width:748px;
	height:548px;
	border:1px solid black;
	position:relative;
	background-color:white;
}

.container header{
	height:39px;
	width:548px;
	float:right;
	border-bottom:1px solid #bcc1c4;
	cursor:default;
	-webkit-user-select:none;
}
.container header .logo{
	float:left;
	display:inline-block;
	height:39px;
	width:174px;
	background:url(../img/logo.png) left center no-repeat;
	margin-left:10px;
}
.container header a{
	display:inline-block;
	float:right;
	width:24px;
	height:24px;
	background-color:#f9f5ec;
	color:#421c40;
	font-size:14px;
	margin:7px 8px 0 0;
	line-height:24px;
	text-align:center;
	font-weight:bolder;
}

.container .left-bar{
	width:200px;
	height:100%;
	overflow:auto;
	background:#421c40;
	float:left;
}
.container .right-ctn{
	width:548px;
	height:459px;
	overflow:auto;
	position:relative;
	float:right;
	background:#f9f5ec;
}
.container .right-footer{
	width:548px;
	height:45px;
	float:right;
	border-top:1px solid black;
}
.container .right-footer .plusin{
	
	display:inline-block;
	float:right;
	width:71px;
	height:25px;
	border-radius:3px;
	background:url(../img/plusin.png) left center #fed8d5 no-repeat;
	background-origin:content-box;
	text-indent:18px;
	padding-left:5px;
	line-height:25px;
	color:black;
	margin:10px 5px 0 0px;
}
.container .right-footer .tool-btn{
	
	display:inline-block;
	float:right;
	width:69px;
	height:23px;
	line-height:23px;
	text-align:center;
	border-radius:3px;
	color:#4bc078;
	border:1px solid #4bc078;
	background-color:white;
	margin:10px 10px 0 0px;
}

.left-bar .bar-list{
	width:100%;
	height:39px;
	border-bottom:1px solid black;
}
.left-bar .project-list{
	width:100%;
	height:508px;
}

.bar-list .new-btn{
	display:inline-block;
	float:left;
	width:30px;
	height:30px;
	margin:5px 0 0 10px;
	color:rgb(255,136,126);
	font-size:30px;
	text-align:center;
	line-height:30px;
}
.bar-list .new-btn:hover{
	opacity:0.7;
}


.container .left-bar li{
	width:100%;
	height:60px;
	background:#553252;
}
.container .left-bar li a{
	color:#d4d2d4;
	font-size:14px;
	line-height:22px;
	height:52px;
	text-indent:18px;
	display:block;
	position:relative;
	z-index:1;
	overflow: hidden;
	text-overflow:ellipsis;
	padding-top:8px;
	font-weight:bolder;
}
.container .left-bar li a span{
	display:none;
	color:#aaa;
	text-indent:18px;
	font-weight:normal;
	max-width:190px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.container .left-bar li a:hover{
	color:white;
}
.container .left-bar li a.select{
	background-color:#f9f5ec;
	color:#51575e;
}
.container .left-bar li a.select span{
	display:inline-block;
}

.container .right-ctn .tool-list{
	position:absolute;
	left:20px;
	top:0;
	height:40px;
	line-height:40px;
}
.container .right-ctn .tool-list span{
	color: red;
	font-size: 12px;
	display: inline-block;
	border: 1px solid red;
	height: 20px;
	line-height: 18px;
	padding: 1px 4px 0 4px;
}
.container .right-ctn .tool-list select{
	font-size: 12px;
	width: auto;
	height: 25px;
	border-color:#aaa;
	outline: none;
	min-width:100px;
}
.container .right-ctn .tool-list button{
	font-size: 12px;
	color: #fff;
	text-align:center;
	line-height:22px;
	height: 25px;
	width:50px;
	border:1px solid #249a51;
	background-color:#4bc078;
}
.container .right-ctn .tool-list button:hover{
	opacity: 0.85;
}
.container .right-ctn .tool-list button:active{
	opacity: 0.7;
	border:1px solid #aaa;
}
.container .right-ctn .tool-list button.warn{
	background-color: red;
}


.container .right-ctn .log{
	width:530px;
	overflow:auto;
	position:absolute;
	left:15px;
	top:40px;
	bottom:5px;
	word-break:break-all;
}
.container .right-ctn .log span{
	display:block;
	font-size:12px;
	color:#555;
	margin-bottom:5px;
	margin-left:10px;
}
.container .right-ctn .log span.err{
	color:#db2e45;
}
.container .right-ctn .log span.ok{
	color:#4bc078;
}
.container .right-ctn .log span.warn{
	color:#ff887e;
}
.container .right-ctn .log span.wait{
	color:blue;
}